.wrapper {
    max-width: 1060px;
    margin: 0 auto;
}
#blue-circle {
    position: absolute;
    width: 1117px;
    height: 840px;
    left: 0px;
    top: 0px;

    background: #F4F9E2;
}
#header {
    position: absolute;
    width: 484px;
    height: 150px;
    left: 179px;
    top: 27px;  
}



.parent-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
